.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
}
.form-group {
  margin-bottom: 1rem;
  padding-right: 10px;

}
.form-button {
  color: white;
  background: #35455D;
  font-size: 1.5rem;
}
.title {
  color: #35455D;
  padding: 10px 0;
  margin-bottom: 10px;
  margin-top: 20px;
  border-bottom: 1px solid #35455D;
}
.subtitle {
  color:#35455D;
  padding: 10px 0;
}
.error {
  color: crimson;
  margin-bottom: 10px;
}

.saved-counter {
  text-align: left;
  font-size: 1.1rem;
  color: orangered;
  font-weight: bolder;
  margin: 5px 0 20px 0;
}
.saved-counter > small {
  border: 2px dotted orangered;
  padding: 10px;
}
.limit {
  font-size: 1rem;
}
.btn {
  border-radius: 0;
}
.form-range {
  height: 35px;
}