.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-box {
  width: 500px;
  color: white;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding: 60px 0;
  background: #35455D;
  border-radius: 10px;
}
.login-box > h4 {
  font-weight: bolder;
  margin-bottom: 30px;
  text-align: center;
}
.login-form-section {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-box-footer {
  width: 75%;
}
.login-box-footer > p > a {
  color: cadetblue;
  font-weight: bold;
}